<%= form_with url: config_projects_path(config), method: :get do |f| %>
  <div class="search-input-container">
    <%= f.text_field :search,
      value: params[:search],
      autocomplete: "off",
      inputmode: "search",
      type: "search",
      placeholder: "Search projects by name or description...",
      class: "search-input" %>
    <%= f.submit "Search", class: "search-input-button" %>
  </div>
<% end %>

<%= turbo_frame_tag :projects_list, src: projects_list_config_projects_path(config, page: params[:page], search: params[:search]), loading: :lazy do %>
  <div class="centered">
    <%= render "shared/loading_spinner" %>
  </div>
<% end %>
