<div class="project-container">
  <div class="project-members-card">
    <div class="project-members-header-container">
      <p class="project-members-header">members</p>
      <%= link_to "see all", config_project_members_path(config, project.id), class: "members-preview-view-all", data: {turbo_frame: :_top} %>
    </div>

    <%= turbo_frame_tag :members_preview, class: "project-members-gird", src: members_preview_config_project_path(config, project.id), loading: :lazy do %>
      <%= render "shared/loading_spinner" %>
    <% end %>
  </div>

  <div class="project-general-info-card">
    <p class="project-general-info-header">general info</p>

    <div class="project-general-info-grid">
      <% if (owner = project.owner) %>
        <p class="project-general-info-grid-title">owner:</p>
        <div class="image-with-text">
          <%= tag.img src: owner.avatar_url, alt: owner.name %>
          <p><%= owner.name %></p>
        </div>
      <% end %>

      <p class="project-general-info-grid-title">name:</p>
      <p><%= project.name %></p>

      <p class="project-general-info-grid-title">description:</p>
      <p><%= project.description.presence || "-" %></p>

      <p class="project-general-info-grid-title">created at:</p>
      <p><%= project.created_at || "-" %></p>

      <p class="project-general-info-grid-title">updated at:</p>
      <p><%= project.updated_at || "-" %></p>

    </div>
  </div>
</div>

<%= turbo_frame_tag :merge_requests_size, src: merge_requests_size_config_project_path(config, project.id), loading: :lazy do %>
  <%= render "shared/loading_spinner" %>
<% end %>
